@import url('https://fonts.googleapis.com/css?family=Noto+Sans+HK&display=swap');

body,html {
    font-family: 'Noto Sans HK', sans-serif;
    color: #ffffff;
    /*background-image: url("images/Inkedbackground_LI.jpg");
    background-color: black;
    background-repeat:no-repeat ;*/
    margin: auto;
    background-color: black;
}
/*Navigation*/
#navigation{
    position: fixed;
    width: 100%;
    margin-top: 0%;
    padding-top: 0;
}
nav a img{
    border-radius: 50%;
    height: 40px;
    width: 40px;

}
/*Banner*/
#banner{
    padding-top: 150px;
    padding-bottom: 50px;
}

.button{
    border-radius: 30px;
    color:#0d1f22;
    background-color: #ef0f30;
    border: none;
    padding: 10px;
    transition: all 0.2s ease-out;
    box-shadow: black solid;
    margin-top: 20px;
}
.button:hover{
    opacity: 0.9;
}
.button:visited{
    border: none;
    background-color: #ef0f30;
    opacity: 0.7;
}

.my-name{
    color: #ef0f30;
    font-size: 3em;
    font-weight: 900;
   letter-spacing: 0.3em;
    text-transform: uppercase;
}
#social-icons .fa-twitter,#social-icons .fa-envelope,#social-icons .fa-linkedin,#social-icons .fa-instagram {
    color: #a5cbc3;
    text-align: center;
    padding: 30px;
    margin-top: 10px;
    transition: all 0.5s ;
    font-size: 4em;
}
#social-icons .fa:hover{

    transform: translateY(-10px);
}
#social-icons .twitter:hover{
    color: #00A6E9;
}
#social-icons .instagram:hover{
    color: #D42C76;
}
#social-icons .linkedin:hover{
    color: #0074B0;
}
#social-icons .gmail:hover{
    color: #AE3020;
}

/*seperator*/
#seperator{
    width: 50%;

}



/*About me*/
#About-me{
    padding-top: 150px;
    padding-bottom: 150px;
}

.about-me-head{
    font-size: 5rem;
    opacity: 0.2;
    padding-bottom: 70px;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 0.3rem;

}
.heading{
    letter-spacing: 0.3rem;
    font-size: 3rem;
    opacity: 0.85;
    padding-bottom: 100px;
    font-weight: bolder;
}
.translate{
    transform: translateY(-134px);
}


/*What i do*/

.work-icons{
    padding: 30px;
    padding-bottom: 60px;
    color: #a5cbc3;
}

/*my-work*/
#my-work{
    background-image: url("images/Inkedbackground_LI.jpg");
    background-attachment:fixed ;
    background-position: center;
    background-size: cover;
    padding-bottom: 200px ;
    padding-top: 100px;
}
.websites{
    margin: auto;
    width:300px;
    height: 300px;
    background-color: white;
    border-radius: 10%;
    transition: all 1s;
    overflow: hidden;
}
.websites .web-search-icon{
    visibility: hidden;
}
.websites:hover{
    background-color: #a5cbc3;
    overflow: visible;
    visibility: visible;
}
#get-started{

    margin-top: 200px;
}
#get-started h1{
    font-size: 100px;
    opacity: 0.7;
    font-weight: bolder;


}
span{
    font-size: 2rem;
    opacity: 0.7;
    letter-spacing: 0.3rem;
}
#clients-counter,#Projects-counter{
    color: #ef0f30;
    font-size: 5rem;
    opacity: 0.5rem;



}





/*footer */

#footer{
    height: 300px;
    margin-top: 200px;
    padding: 50px;
    background-color:black;
}
hr{
    border-top: 1px solid #85cb33;
}

@media (max-width: 330px) {
    .my-name{
        letter-spacing: 0.9em;
    }
}
/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    *{
        padding: 0;
        margin: 0;
    }
    .background{
        width: auto;
    }
    .heading{
        font-size: 1.5em;
    }
    #banner{
        padding-bottom: 240px;
    }
    .my-name{
        letter-spacing: 0;
        width: 315px;
    }
    .websites{
        width:200px;
        height: 200px;
        margin: auto;
        margin-bottom: 20px;
    }
    #social-icons .fa-twitter,#social-icons .fa-envelope,#social-icons .fa-linkedin,#social-icons .fa-instagram{
        font-size: 2rem;
        padding: 10px;

    }
    .bd-example{
        width: 310px;
    }
    p.text{
        font-size: 0.8em;
    }
    *{
        padding: 0;
        margin: 0;
    }
    hr{
        align-item: center;
        width: 300px;
        margin: auto;
    }
    #get-started h1{
        font-size: 50px;
    }

    }





//* Small devices (landscape phones, less than 768px)*/
@media (max-width: 767px) {
    .websites{
    width:220px;
    height: 220px;
}
}

/* Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { ... }

/* Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { ... }

// Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width






















