html,body{
    background-image: url("images/Inkedbackground_LI.jpg");
}
#Navigator{
    padding: 50px;
    font-weight: bold;
}
.nav-elements a{
    text-decoration: none;
    transition: all 1s;
    font-size: 5rem;
}

.nav-elements a:hover{
    color: #ef0f30;
    transform: translateX(4);
}

@media (min-width: 320px) {
    hr{
        width: 100%;
    }
    .nav-image{

    }
    #Navigator{
        padding: 50px;
        font-weight: bold;
    }
    .nav-elements a{
        text-decoration: none;
        transition: all 1s;
        font-size: 1.5rem;
    }
}


@media (min-width: 570px) {
    .nav-elements a{
        text-decoration: none;
        transition: all 1s;
        font-size: 1.5rem;
    }
    hr{
        width: 100%;
    }
}